/* Garante que o body ocupe toda a janela e os seus elementos sejam centrados */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* 100% da altura da viewport */
    margin: 0; /* Remove as margens do body */
  }
  
  #redbull {
    max-width: 100%; /* Garante que a imagem se redimensione corretamente */
    height: auto; /* Mantém as proporções da imagem */
  }
  